.sidebar-sticky{
    position: sticky;
    top: 480px;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.justify-center{
    display: flex;
    justify-content: center;
}
p.indented{
    margin-left: 50px;
}
div.em-50{
    max-width: 50em;
}
