<!doctype html>
<html class='h-100' lang='en'>
    <head>
        <meta content='text/html; charset=UTF-8'>
        <title>{}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href='/static/style.css' rel='stylesheet'>
    </head>
    <body class='bg-light h-100'>
        <div class='container-fluid h-100'>
            <div class='row h-100' style='flex-wrap: nowrap;'>
                <nav class='navbar navbar-expand-lg navbar-dark bg-dark align-content-baseline'>
                    <div class='sidebar-sticky'>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon" style='bg-light'></span>
                        </button>
                        <div class="navbar-collapse collapse" id="navbarSupportedContent">
                            <ul class='nav flex-column'>
                                <img src='/images/portrait.jpg' class='img-thumbnail rounded-circle'>
                                <p></p>
                                <li class='nav-item justify-center'>
                                    <a class='nav-link' href='/index.html'>Home</a>
                                </li>
                                <li class='nav-item justify-center'>
                                    <a class='nav-link' href='/projects.html'>Projects</a>
                                </li>
                                <li class='nav-item justify-center'>
                                    <a class='nav-link' href='/tutorials.html'>Tutorials</a>
                                </li>
                                <p></p>
                                <p></p>
                                <li class='nav-item justify-center'>
                                    <a class='nav-link' href='https://github.com/Hilldrupca'>Github</a>
                                </li>
                                <li class='nav-item justify-center'>
                                    <a class='nav-link' href='https://www.linkedin.com/in/christopher-hilldrup-295a12179/'>LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class='col-sm pt-5 px-5 bg-light h-100' style='overflow-y: auto;' role='main'>
                    {}
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" rel='javascript' integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" rel='javascript' integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" rel='javascript' integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
