<div class='em-50'>
    <h1>Projects</h1>
    <br>
    <br>
    <h5><a href='https://github.com/Hilldrupca/Applied-Data-Science-with-Python'>Applied Data Science with Python</a></h5>
        <p class='indented'>
        Language: Python<br>
        Completed: May 2020<br>
        <br>
            A 5 course Coursera specialization offered by the University of Michigan. Taught how to apply statistical, machine learning, information visualization, text analysis, and social network analysis techniques through popular python toolkits such as matplotlib, networkx, nltk, pandas, and scikit-learn to gain insight into their data.
        </p>
    <h5><a href='https://github.com/Hilldrupca/Data-Structures-and-Beyond-Capstone-Project'>Data Structures and Beyond Capstone Project</a></h5>
        <p class='indented'>
            Language: Java<br>
            Completed: July 2018<br>
            <br>
            A 5 course Coursera specialization offered by the University of California San Diego. Models information cascade through a graph/social network, and reports the graph nodes that would spread the cascade quickest. Very large graphs will take a long time. Graphs with a few thousand vertices should complete in a reasonable time. 
        </p>
    <h5><a href='https://github.com/Hilldrupca/hilldrupca.github.io'>Github Page</a></h5>
        <p class='indented'>
            This website. If you like the layout, you are welcome to clone the repository, and make changes to suit your needs. I've also created a python script for building static webpages from templates. Folder layout is roughly the same as a Flask application. Though not as robust as an established python module like pelican, it was a fun exercise nontheless. A possible next step would be implementing jinja2 templating for more complex logic.
        </p>
    <h5><a href='https://github.com/Hilldrupca/LeetCode'>LeetCode</a></h5>
        <p class='indented'>
            Language: Python*<br>
            Profile: <a href='https://leetcode.com/hilldrupca/'>hilldrupca</a><br>
            Completion Statistics: (updated: November 16th, 2020)
        <p>
        <p style='margin-left: 100px'>
            Easy: 81/441<br>
            Medium: 90/867<br>
            Hard: 4/351
        </p>
        <p class='indented'>
            *I have completed some exercises using C, but have not uploaded them.
        </p>
    <h5><a href='https://github.com/Hilldrupca/Nutrition-Calculator'>Nutrition Calculator</a></h5>
        <p class='indented'>
            Language: Python<br>
            Completed: Work in progess<br>
            <br>
            A meal planner built with tkinter that uses data provided by the USDA National Database for Standard Reference. Currently uses SR28 (2015). <a href='https://data.nal.usda.gov/dataset/usda-national-nutrient-database-standard-reference-legacy-release'>SR-Legacy</a> (2019) is the most up-to-date data set until a modernized system is developed.
        </p>
        <p class='indented'>
            I've also ported the project to a Flask application. The source files can be found <a href='https://github.com/Hilldrupca/Flask-App'>here</a>.
        </p>
        <p class='indented'>
            A mysql database dump file with nutrition information I found relevant is provided under both repositories.
        </p>
</div>
